* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	background-color: black;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	padding: 0 8px;
	color: #fff;
	display: flex;
	font-size: 25px;


}

.topscreen {
	list-style: none;
	display: flex;
	gap: 12px
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	color: #fff;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 20px;
	text-align: center;

}

.icons {}

.tastocentrale {
	background-color: #fff;
	border-radius: 6px;
	border-right: 4px solid rgb(187, 0, 146);
	border-left: 4px solid rgb(16, 200, 233);
	width: 45px;
	text-align: center;
	color: black;
	text-size: 30px;

}

/* Sidebar */
.sidebar {
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	color: white;
	font-size: 20px;
	gap: 14px;
	width: 10px;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.icons {}

img {
	border-radius: 130px;
	border: 2px solid white;
	width: 60px;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;

}

.debug .reel-header {
	min-height: 50px;

}

/* --------------------- */