* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	display: flex;
	justify-content: center;
	background-color: black;
	/* l'ho fatto per me stavo diventando cieca con tutto bianco */
}



video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	align-items: flex-start;
	display: flex;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}



.pad {
	padding: 0;
}

.topscreen {
	display: flex;
	width: 400px;
	justify-content: center;
	align-items: center;


}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: black;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.navigate {
	color: #fff;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 20px;


}

/* Sidebar */
.sidebar {
	padding: 0;
	position: absolute;
	right: 0;
	top: 40%;
	color: #fff;
	font-size: 20px;
	align-items: flex-end;

	/* Inserisci qui sotto 
		le tue regole, se necessario. */



}




img {

	max-width: 25%;
	height: auto;
	border-radius: 110px;
	border: 2px solid rgb(255, 255, 255);


}

.text {
	color: white;
	position: absolute;
	width: 100px;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 3px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */